* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
}

header {
    background: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    max-width: 150px;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover {
    text-decoration: underline;
}

main, footer {
    padding: 20px;
    text-align: center;
}

.categorias-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.categoria {
    background: #007bff;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
    width: 200px;
}

.categoria:hover {
    background: #0056b3;
}

.categoria img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.producto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}

.producto h3 {
    margin: 10px 0;
}

.producto p {
    font-size: 18px;
}

.producto input {
    width: 50px;
    text-align: center;
    margin: 10px 0;
}

.producto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.producto button:hover {
    background-color: #0056b3;
}

#carrito {
    background-color: #0056b3;
    list-style-type: lower-roman;
    color: white;
    padding-left: 50px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#carrito li{
  
    list-style-type: none;
}